
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="con container-fluid bg-gradient ">
    
    <div class="row">
     
        <div class="col-lg-6">

            <img class="img-fluid rounded-1" src="Image/man-hoodie.jpg" alt="student-image">
        </div>
        <div class="about col-lg-6 ml-2">
            <h2 >About me</h2>
            <p> <strong>Hi!</strong> I’m Naibe Tekle, a second-year Data Engineering student at the University of Agder (UIA). I’m passionate about transforming data into actionable insights and exploring the latest technologies in data science.

                At UIA, I’m building a strong foundation in programming, database management, and data visualization. I’m particularly interested in how data engineering can advance AI and machine learning.

                In my free time, I enjoy [mention any hobbies or interests]. I’m always open to new opportunities and collaborations.
            </p>
            <h3 class="mb-lg-3 text-center"> <em>Thanks for visiting my page!</em></h3>

        </div>

    </div>
    
    
    <div class="row list">
        <div class="orderedList col-lg-4">
        <h3>Hobbys</h3>
        <ol type="1">
            <li>Coding </li>
            <li>Playing football  </li>
            <li>Watching movies </li>
        </ol>
    </div>
    <div class="unordereList col-lg-4">
        <h3>Programming Languages Learned so far:</h3>
        <ul>
            <li>HTML,CSS,javscript(jquery, typescript)</li>
            <li>C/C++</li>
            <li>.NET /C#</li>

        </ul>
    </div>
    </div>
</div>
