
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container mt-5 mb-3">
    <form class="form-inline d-flex">
        <input class="form-control " type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info bg-dark " type="submit">Search</button>
    </form>
</div>
<div class="con container-fluid bg-gradient ">

    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid rounded-1" src="Image/man-hoodie.jpg" alt="student-image">
        </div>
        <div class="col-lg-6 ml-2 about">
            <h2 >About me</h2>
            <p> <strong>Hi!</strong> I’m Naibe Tekle, a second-year Data Engineering student at the University of Agder (UIA). I’m passionate about transforming data into actionable insights and exploring the latest technologies in data science.

                At UIA, I’m building a strong foundation in programming, database management, and data visualization. I’m particularly interested in how data engineering can advance AI and machine learning.

                In my free time, I enjoy [mention any hobbies or interests]. I’m always open to new opportunities and collaborations.
            </p>
            <h3 class="mb-lg-3 text-center"> <em>Thanks for visiting my page!</em></h3>

        </div>

    </div>


    <div class="row" id="list">
        <div class="orderedList col-lg-4">
            <h3>Hobbys</h3>
            <ol type="1">
                <li>Coding </li>
                <li>Playing football </li>
                <li>Watching movies </li>
            </ol>
        </div>
        <div class="unordereList col-lg-4">
            <h3>Programming Languages Learned so far:</h3>
            <ul>
                <li>HTML,CSS,javscript(jquery, typescript)</li>
                <li>C/C++</li>
                <li>.NET /C#</li>

            </ul>
        </div>
    </div>

    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Courses Name</th>
            <th>Course Code</th>
            <th>Teachers</th>
        </tr>
        </thead>
        <tr>
            <td>Internettjenster</td>
            <td>IKT201</td>
            <td>C.Auby</td>
        </tr>
        <tr>
            <td>Algorithmer og datastructurer</td>
            <td>IKT203</td>
            <td>M.A Payenda</td>
        </tr>
        <tr>
            <td>Software engineering</td>
            <td>IKT202</td>
            <td>A. Wiklund</td>
        </tr>
        <tr>
            <td>Fysikk for Ikt</td>
            <td>FYS129</td>
            <td>Per Henrik</td>
        </tr>
    </table>

</div>
