

list{
    background: linear-gradient(to right, #001231 0%, #001231 100%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    border: 1px solid rgba(147, 242, 204, 0.3);
    margin-top: 4em;
}

.about{
    background: rgba(255, 255, 255, 0.44);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    border: 1px solid rgba(147, 242, 204, 0.3);
   
}

.orderedList, .unordereList {
    margin-top: 2em;
    list-style-type: none;
    color: white;
}