
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<body class="light-theme">
<h2 class="title">Calculator</h2>

<div class="calc-container  rounded-2">
    <div class="align-self-center">
        <div class="toggle-con d-flex justify-content-between align-items-center">
            <h3 class="p-2 ">Calculator</h3>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                <label class="form-check-label" for="flexSwitchCheckDefault"></label>
            </div>
        </div>
        <textarea id="myTextarea" class="txt-area mt-2"></textarea>
    </div>
    <div class=" btn-container ">
        <button value="7" id="seven" type="button" class="btn btn-dark btn-lg  col">7</button>
        <button value="8" id="eight" type="button" class="btn btn-dark btn-lg col">8</button>
        <button value="9" id="nine" type="button" class="btn btn-dark btn-lg col">9</button>
        <button  id="clear" type="button" class="btn btn-dark btn-lg col">Del</button>
    </div>
    <div class=" btn-container ">
        <button value="4" id="four" type="button" class="btn btn-dark btn-lg  col">4</button>
        <button value="5" id="five" type="button" class="btn btn-dark btn-lg col">5</button>
        <button value="6" id="six" type="button" class="btn btn-dark btn-lg col">6</button>
        <button value="+" id="plus" type="button" class="btn btn-dark btn-lg col">+</button>
    </div>
    <div class=" btn-container">
        <button value="1" id="one" type="button" class="btn btn-dark btn-lg  ">1</button>
        <button value="2" id="two" type="button" class="btn btn-dark btn-lg ">2</button>
        <button value="3" id="three" type="button" class="btn btn-dark btn-lg col">3</button>
        <button value="-" id="minus" type="button" class="btn btn-dark btn-lg col">-</button>
    </div>
    <div class=" btn-container ">
        <button value="." id="btnPoint" type="button" class="btn btn-dark btn-lg  col">.</button>
        <button value="0" id="zero" type="button" class="btn btn-dark btn-lg col">0</button>
        <button value="รท" type="button" id="divide" class="btn btn-dark btn-lg col">รท</button>
        <button value="ร" type="button" id="multiply" class="btn btn-dark btn-lg col">x</button>
    </div>
    <div class=" btn-container ">
        <button id="reset"  type="button" class="btn-reset btn btn-dark btn-lg col">Reset</button>
        <button id="equals" type="button" class="btn-calculate btn btn-dark btn-lg col">=</button>
    </div>

</div>
</body>
